<div id="wrapper">
  <div class="main">
    <div class="header">
      <h1><strong>{{community}}</strong></h1>
      <h2 class="{{#if isFailed}}error{{/if}}">
        {{{message}}}</h2>
    </div>
  </div>
</div>
